@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@font-face {
    font-family: 'SF-Pro';
    font-weight: 700;
    font-style: normal;
    src: url('SF/SF-Pro-Display-Bold.otf');
}
@font-face {
    font-family: 'SF-Pro';
    font-weight: 600;
    font-style: normal;
    src: url('SF/SF-Pro-Display-Semibold.otf');
}
/* @font-face {
    font-family: 'SF-Pro';
    font-weight: 500;
    font-style: normal;
    src: url('SF/SF-Pro-Display-Medium.otf');
} */
@font-face {
    font-family: 'SF-Pro';
    font-weight: 400;
    font-style: normal;
    src: url('SF/SF-Pro-Display-Regular.otf');
}

/* @keyframes fadein {
    from {
        margin-left: 50px;
        opacity: 0;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
} */

body {
    width: 100%;
    /* min-height: 100vh; */
    margin: 0px 0px 0px 60px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'SF-Pro', sans-serif;
    background-color: #f2f1f6;
    opacity: 0;
    pointer-events: none;
    user-select: none !important;
}
body.fixed {
    margin: 0px;
}
body.active {
    margin: 0px;
    opacity: 1;
    pointer-events: auto;
    /* animation: fadein 300ms; */
    transition: all 300ms;
}

.header {
    width: 100vw;
    height: 45px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f1f680;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px);
}
.header p {
    margin: 0px 0px 0px 4px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #740118;
}
.header p.menu::after {
    margin: 0px 16px 0px 0px;
    font-size: 18px;
    content: 'Edit';
}
.header p.menu.active::after {
    font-weight: 700;
    content: 'Done';
}
.header p span.material-icons-round {
    margin: 0px 0px 0px 3px;
    font-size: 24px;
}

.container {
    width: calc(100% - 16px * 2);
    max-width: calc(480px - 16px * 2);
    /* min-height: 100vh; */
    margin: 0px;
    padding: 0px 16px;
    background-color: #f2f1f6;
}
.container h1 {
    margin: 0px;
    padding: 72px 0px 0px 0px;
    font-weight: 700;
    font-size: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #010103;
}
.container h3 {
    margin: 36px 0px 0px 16px;
    padding: 0px 0px 0px 0px;
    font-weight: 700;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #010103;
}
.container .buttons {
    margin: 16px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    transition: all 200ms;
}
.container .buttons.hidden {
    margin: 0px;
    opacity: 0;
    pointer-events: none;
}
.container .buttons div {
    height: 44px;
    width: 100%;
    flex-grow: 1;
    margin: 0px 12px 0px 0px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #740118;
    transition: all 400ms;
}
.container .buttons.hidden div {
    height: 0px;
}
.container .buttons div:last-child {
    margin: 0px;
}
.container .buttons div span {
    margin: 0px 3px 0px 3px;
}
.container ul {
    width: calc(100% - 16px);
    margin: 16px 0px 0px 0px;
    padding: 0px 0px 0px 16px;
    border-radius: 10px;
    background-color: #ffffff;
}
.container li {
    margin: 0px;
    padding: 12px 0px;
    border-bottom: 1px solid #c7c7c7;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.container li:last-child {
    border-bottom: 0px;
}
.container li::after {
    font-family: 'Material Icons Round';
    content: 'arrow_forward_ios';
    padding: 2px 15px 2px 0px;
    color: #c7c7c7;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 300ms;
    /* display: none; */
}
.container li.done::after {
    content: 'done';
}
.container li.remove::after {
    content: 'remove';
    color: #EB4D3D;
}
.container li.add::after {
    content: 'add';
    color: #65C466;
}
.container li.disabled::after {
    opacity: 0;
    /* display: none; */
    pointer-events: none;
}